/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after { box-sizing: border-box; } * { margin: 0; } html, body { height: 100%; } body { line-height: 1.2; -webkit-font-smoothing: antialiased; } img, picture, video, canvas, svg { display: block; max-width: 100%; } input, button, textarea, select { font: inherit; } p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; } #root, #__next { isolation: isolate; }

/*
  Our CSS
 */

:root {
  --theory-color: green;
  --skills-color: blue;
  --technical-color: orange;
  --practical-color: lightskyblue;
}



#target {
  max-width: 900px;
  margin: auto;
  position: relative;
}

h1, h2 {
  margin-bottom: 0;
}

.term h3 {
  margin-bottom: 0;
}

.info {
  margin-bottom: 0.5rem;
}

.courses {
  border: 1px dotted black;
  padding: 0.5rem;
}

.term .courses {
  max-width: calc(100% - 300px);
}

.courses .credits {
  margin-right: 3.5em;
}

.available .courses .credits {
  margin-right: 0.5em;
}

.courses .labels {
  display: flex;
  justify-content: space-between;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
}

.labels span {
  font-variant: small-caps;
  font-size: 18px;
}

.labels .code-label {
  display: inline-block;
  width: 4.2em;
}

.labels .credits-label {
  display: inline-block;
  margin-right: 3em;
}

.available .labels .code-label {
  width: 3.4em;
}

.available .labels .credits-label {
  margin-right: 0.5em;
}

.droptarget .courses {
  background-color: honeydew;
}

/* hack so that dragging over child elements does not trigger a dragleave */
.droptarget * {
  pointer-events: none;
}

.available {
  position: fixed;
  top: 0;
  right: max(0px, calc(100vw - 1200px));
  overflow: visible;
}

.available .courses {
  max-width: 300px;
  max-height: 70vh;
  overflow: scroll;
}

.available .course .code {
  width: 4em;
  flex-shrink: 0;
}

.course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course div {
  display: flex;
}

.course.fixed {
  position: relative;
}

.course.fixed .name:after {
  content: "*";
}


/* mobile
 *
 * - hide course names to save space
 * - fix width calculations
 * - add top to available, to not intersect with title
*/
@media only screen and (max-width: 600px) {
  .course .name, .labels .name-label {
    display: none;
  }
  
  .labels .credits-label {
    margin-right: 4em;
  }

  .courses .credits {
    margin-right: 2em;
  }

  .term .courses {
    max-width: calc(100% - 200px);
  }

  .available {
    top: 4em;
  }
}

/* course kinds: Skills, Practical, Theory, Technical */
.course .code {
  display: inline-block;
  width: 5em;
}
.theory .code {
  color: var(--theory-color);
}
.skills .code {
  color: var(--skills-color);
  
}
.technical .code {
  color: var(--technical-color);
}
.practical .code {
  color: var(--practical-color);
}

a.show-detail, a.hide-detail {
  text-decoration: none;
  margin-left: 0.5em;
  color: hotpink;
}

a.show-detail:hover, a.hide-detail:hover {
  color: red;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.details {
  position: absolute;
  top: 6em;
  background-color: rgba(255,255,255,100); /* opacity */ 
  padding: 2em;
  border: 1px dotted black;
  max-width: 600px;
  /* min of 100%vw or 600px*/
  width: min(600px, 100%);
}

.details a.hide-detail {
  position: absolute;
  top: 1em;
  right: 2em;
}

.details .description {
  margin: 1em 0;
}


